*{
    margin: 0;
    padding: 0;
}

html{
    background-color: black;
}

#header{
    display: grid;
    background-color: black;
    color: bisque;
    grid-template-columns: 1fr 1fr;
}

#contact{
    justify-self: center;
    align-self: flex-end;
    color: white;
    border: solid beige;
    padding: 0.5em;
    border-style: groove;
    margin: 5px;
}

#article{
    text-align: center;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    row-gap: 9px;
}

#inf{
    width: 100%;
}

#link{
    color: cyan;
}

h3{
    color: white;
    border:cyan dashed 2px;
    padding: 0px;
    font-size: 20px;
}

h2{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border: 1.5px solid cyan;
}

p{
    color: bisque;
    font-size: 15px;
}


/*Tablet*/

@media only screen and (min-width:600px){
    p {
        font-size: 20px;
        line-height: 1.2em;
    }
    h3{
        font-size: 30px;
    }
    h2{
        font-size: 35px;
    }
    
    h1{
        font-size:50px;
        text-align: center;
    }
    }

    /*Desktop*/

    @media only screen and (min-width:1100px) {
        h1{
            font-size: 80px;}

            #header{
                border: 4px solid cyan;
            }
            #contact{
                font-size: 50px;
                border: 4px beige;
                border-style: groove;
                padding: 0.2em;
                background-color: dimgrey;
            }

            h2{
                font-size: 60px;
            }

            p{
                font-size: 30px;
            }
    }